// art show page

.artShowContainer {
  display: flex;
  flex-direction: row;
}

.artName {
  align-items: flex-end;
}

.artShowMain {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4px rgba(219, 217, 217, 0.8);
  width: 50%;
    .imgArtShow {
      align-items: center;
      justify-content: center;
    }
  margin: 20px;
}

.artShowEnquire {
  display: flex;
  margin-right: 30px;
  justify-content: flex-end;
}

.artContent {
  display: flex;
  margin-bottom: 30px;
  align-items: flex-start;
  padding: 10px;
  flex-direction: column;
  justify-content: flex-end;
  .price {
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.enquireBtn {
  background-color: $primaryRed;
  color: white;
  border: none;
  font-family: $primaryMainFont;
  font-weight: 700;
  margin-top: 150px;
  min-width: 30px;
}

.enquireBtn:hover {
  background-color: $primaryYellow;
  color: $primaryGray;
}

.imgArtShow {
  box-shadow: 0 10px 6px -6px #777;
  max-height: 600px;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

.icons, .enquiries, .controls {
  margin-left: 50px;
}

.subtitle {
  max-width: 100px;
}

.enquiry {
  margin-top: 20px;
  border: 1px solid $primaryGray;
  border-radius: 10px;
  padding: 4px;
  color: $primaryGray;
}
