// art show page

.artShowContainer {
  display: flex;
  flex-direction: row;
}

.artName {
  align-items: flex-end;
}

.artShowMain {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
  background-color: rgb(250, 250, 250);
  box-shadow: 0 0 10px rgba(163, 163, 163, 0.8);;
  width: 50%;
    .imgArtShow {
      align-items: center;
      justify-content: center;
    }
}

.artShowEnquire {
  display: flex;
  margin-right: 30px;
}

.artContent {
  display: flex;
  margin-bottom: 30px;
    .price {
      align-items: center;
      justify-content: center;
    }
}

.enquireBtn {
  background-color: $primaryYellow;
  color: $primaryGray;
  border: none;
  font-family: $primaryMainFont;
  font-weight: 700;
  margin-top: 150px;
}

// .imgArtShow {
//   display: flex;
//   max-width: 350px;
//   max-height: 400px;
//   align-items: center;
//   justify-content: center;
// }

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}

.icons {
  min-width: 100px;
  min-height: 100px;
}

