// forms css
.form {
  animation: slideUp .8s ease forwards .5s;
}

.background-img {
  background-image: url('https://i.pinimg.com/564x/28/d4/00/28d400f31942af3cc87ad97be0c38d7e.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.formTitle {
  font-family: $primaryMainFont;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  animation: slideIn 0.8s ease-in-out backwards .5s;
}

.formbtn {
  background-color: $primaryYellow;
  color: $primaryRed;
  border: none;
  margin-top: 20px;
}

.formbtn:hover {
  background-color: $primaryRed;
  color: $primaryYellow;
}

.spacer {
  margin-top: 20px;
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}


.imgbtn {
  background-color: $primaryPink;
  color: $primaryRed;
}
