@import '~bulma/bulma.sass';

$primaryPink: #fab1be;
$primaryRed: #e33434;
$primaryYellow: #ffa200;
$primaryBlue: #35a2f0;
$primaryGray: #383838;
$primaryNavy: #00063b;
$primaryTitleFont: 'Gotu', sans-serif;
// $primaryTitleFont: 'Bungee Shade', cursive;
// $primaryTitleFont: 'Fredericka the Great', cursive;
// $primaryTitleFont: 'Amatic SC', cursive;
$primaryMainFont: 'Lato', sans-serif;
$primarySecondaryFont: 'Josefin Slab', serif;

@import './forms.scss';
@import './artShow.scss';
@import './profileViews.scss';
@import './common.scss';

body {
  font-family: $primaryMainFont;
  font-weight: 400;
  color: $primaryGray;
}

h1 {
  font-family: $primaryTitleFont;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-family: $primaryTitleFont;
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-family: $primaryMainFont;
  font-size: 30px;
  font-weight: 400;
}

img {
  max-width: 200px;
  max-height: 200px;
}

span {
  color: $primaryRed;
}

p > #logo {
  font-family: $primaryTitleFont;
}

.artly {
  margin-left: 8px;
}

a{
  color: $primaryGray;
}
