@import '~bulma/bulma.sass';

$primaryPink: #fab1be;
$primaryRed: #c42f33;
$primaryYellow: #fffb6e;
$primaryGray: #383838;
$primaryNavy: #00063b;
$primaryTitleFont: 'Amatic SC', cursive;
$primaryMainFont: 'Josefin Slab', serif;

@import './forms.scss';
@import './artShow.scss';
@import './profileViews.scss';
@import './common.scss';

body {
  font-family: $primaryMainFont;
  font-weight: 700;
}

h1 {
  font-family: $primaryTitleFont;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  font-family: $primaryTitleFont;
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-family: $primaryMainFont;
  font-size: 40px;
  font-weight: 700;
}

img {
  max-width: 200px;
  max-height: 200px;
}

span {
  color: $primaryRed;
}

.ico {
  border-radius: 50%;
  cursor: pointer;
  fill: #232323;
  transition: .4s;
}

.editIcon {
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.deleteIcon {
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.favourited {
  transform: scale(1.05) rotate(360deg);
  fill: yellow;
}


// splash title
.splashCards {
  display: flex;
  background-color: $primaryRed;
  color: $primaryYellow;
  border: solid 18px $primaryPink;
  height: 60vh;
  transition: all 0.4s ease;
}

.splashCards:hover {
  transform: scale(1.05);
}

.splashText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 700;
}

.splashTitle {
  text-align: center;
  margin-bottom: 50px;
  font-size: 50px;
  color: $primaryRed;
}

//navbar
.navbarMain {
  background-color: rgba(250, 177, 190, 0.3);
}

.navbarText {
  color: $primaryRed;
}

// splash title
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

p > #logo {
  font-family: $primaryTitleFont;
}

.artly {
  margin-left: 8px;
}
