@import '~bulma/bulma.sass';

$primaryPink: #fab1be;
$primaryRed: #c42f33;
$primaryYellow: #fffb6e;
$primaryGray: #383838;
$primaryNavy: #00063b;
$primaryTitleFont: 'Amatic SC', cursive;
$primaryMainFont: 'Josefin Slab', serif;

h1 {
  font-family: $primaryTitleFont;
  font-weight: 700;
  font-size: 30px;
}

h2 {
  font-family: $primaryMainFont;
}

img {
  max-width: 200px;
  max-height: 200px;
}

.ico {
  border-radius: 50%;
  cursor: pointer;
  fill: #232323;
  transition: .4s;
}

.editIcon {
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.deleteIcon {
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}


  .favourited {
    transform: scale(1.05) rotate(360deg);
    fill: yellow;
  }

// svg {
//   fill: yellow;
// }

