// profile page and artist view page

//ICONS
.ico {
  border-radius: 50%;
  cursor: pointer;
  fill: #232323;
  transition: .4s;
}

.editIcon {
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.deleteIcon {
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.favourited {
  transform: scale(1.05) rotate(360deg);
  fill: yellow;
}

//GENERAL

.profile-headers {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  min-width: 100%;
}

.description {
  max-width: 200px;
}

// .cover-pic {
//   display: flex;
//   flex-grow: 1;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   height: 20%;
//   width: 100%;
// }

.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

#artWrapping {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.art-image {
  border-radius: 25px;
}

.art-display {
  margin: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-end {
  align-self: flex-end;
}

.favourite-link {
  display: flex;
  margin: 3px;
  .faveArtBtn {
    background-color: $primaryRed;
    color: $primaryPink;
    border: none;
  }
}

.art-display:hover {
  cursor: pointer;
}

.faveArtBtn:hover {
  cursor: pointer;
  background-color: $primaryPink;
  color: $primaryRed;
}

.addArtBtn {
  background-color: $primaryPink;
  color: $primaryRed;
  border: none;
}

.addArtBtn:hover {
  cursor: pointer;
  background-color: $primaryRed;
  color: $primaryPink;
}



// .page {
//   // font-family: 'Open Sans', Arial, sans-serif;
//   // position: relative;
//   width: 100%;
//   color: #000000;
//   text-align: center;
//   // line-height: 1.4em;
//   font-size: 14px;
//   box-shadow: none !important;
//   border: 1px solid black;
// }

// .page .cover-image {
//   display: inline-block;
//   z-index: 1;
//   position: relative;
// }

// .page .cover-image img {
//   max-width: 100%;
//   vertical-align: top;
//   margin-top: 50px;
// }

.cover-image {
  height: 50vw;
  width: 90vw;
}

div > img {
  width: auto;
  height : auto;
  max-height: 100%;
  max-width: 100%;
}
