// profile page and artist view page

//ICONS
.ico {
  border-radius: 50%;
  cursor: pointer;
  fill: #232323;
  transition: .4s;
}

.editIcon {
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.deleteIcon {
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.favourited {
  transform: scale(1.05) rotate(360deg);
  fill: yellow;
}

//GENERAL

.profile-headers {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
}


.cover-pic {
  display: flex;
  flex-grow: 1;;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

#artWrapping {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.art-image {
  border-radius: 25px;
}

.art-display {
  margin: 8px;
}

.flex-end {
  align-self: flex-end;
}

.favourite-link {
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.addArtBtn {
  background-color: $primaryPink;
  color: $primaryRed;
}

.addArtBtn:hover {
  cursor: pointer;
  background-color: $primaryRed;
  color: $primaryPink;
}
