// profile page and artist view page

//ICONS
.ico {
  cursor: pointer;
  fill: #232323;
  transition: .4s;
  margin-right: 20px;
}

.editIcon {
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.deleteIcon {
  margin: 10px;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  cursor: pointer;
}

.instaIcon {
  margin-top: 40px;
  cursor: pointer;
}

.favourited {
  transform: scale(1.05) rotate(360deg);
  fill: yellow;
}

//GENERAL

.profile-headers {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 100px;
  min-width: 100%;
}

.profile-name {
  margin-top: 0px;
}

.description {
  max-width: 200px;
}

.profile-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
}

#artWrapping {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.art-image {
  border-radius: 25px;
  max-width: 250px;
  max-height: 250px;
}

.art-display {
  margin: 8px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-end {
  align-self: flex-end;
}

.favourite-link {
  display: flex;
  margin: 3px;
  .faveArtBtn {
    background-color: $primaryRed;
    color: $primaryPink;
    border: none;
  }
}

.art-display:hover {
  cursor: pointer;
}

.typeBubble {
  background-color: $primaryPink;
  color: $primaryRed;
  padding: 1.5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.faveArtBtn:hover {
  cursor: pointer;
  background-color: $primaryPink;
  color: $primaryRed;
}

.addArtBtn {
  background-color: $primaryPink;
  color: $primaryRed;
  border: none;
}

.addArtBtn:hover {
  cursor: pointer;
  background-color: $primaryRed;
  color: $primaryPink;
}

.cover-image {
  position: relative;
  top:-90px;
  height: 40vh;
  width: 90vw;
}

.profile-image {
position:absolute;
left:-125px;
right:0;
top:-210px;
height: 250px;
width: 250px;
}

.prof {
  border: 3px solid $primaryGray;
}

